.CheckoutSummary {
    text-align: center;
    width: 100%;
    margin: auto;
}

.header {
    margin-bottom: 3rem;
}

/* @media (min-width: 600px) {
    .CheckoutSummary {
        width: 500px;
    }
} */